*{
    margin: 0;
    padding: 0;
}

body{
    background: #D2D2D2;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.container{
    max-width: 100%;
    width: 1274px;
    margin: 0 auto;
}

/* *** Header *** */
.header{
    padding: 33px 22px;
}

.header__nav{
    width: 772px;
    display: flex;
    justify-content: space-between;
}
.nav__link{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #363636;
}

/* *** Intro *** */

.intro-img{
    width: 100%;
    height: 345px;
}

.intro__info{
    margin: 53px 0 40px 35px;
}

.intro__info::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #BCBCBC;

    margin-top: 45px;
}

.intro__info--list{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list__item{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #363636;
}

.intro__wrapper{
    max-width: 1274px;
    width: 100%;
    height: 345px;
    position: relative;
    margin: auto;
}
.intro__about{
    max-width: 1274px;
    width: 100%;
    height: 237px;
    position: relative;
    margin: auto;
}
.intro-img{
    width: 100%;
}

.intro__wrapper--text,
.intro__about--text{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
}

.intro__wrapper--text h4{
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    font-size: 74px;

    text-transform: uppercase;
}
.intro__about--text h4{
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    font-size: 60px;

    text-transform: uppercase;
}

.intro__wrapper--text p{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 32px;

    text-align: center;
}

/* Schedule and calendar */

.schedule-calendar{
    width: 1070px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.schedule, 
.calendar{
    width: 50%;
    margin: 0 35px;
}

.schedule__title{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #393939;
    margin-bottom: 25px;
}

.list__months{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;

    border: 1px solid #393939;
    border-radius: 5px;

    cursor: pointer;
}
.month__name{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
}
.year{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 40px;

    color: #F38536;
}

.month-active{
    background: #F38536;
    color: #fff;
}
.year-active{
    color: #fff;
}

.calendar__wrapper{
    width: 441px;
    height: 651px;
    background: #393939;
    border-radius: 5px;
}

.calendar__month--name{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 30px;

    text-transform: uppercase;
    color: #fff;

    text-align: center;

    padding: 20px 0 10px 0;
}

.calendar__year{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 40px;

    color: #FE8E05;
    text-align: center;
}

.calendar__table{
    width: 100%;
    border-collapse: collapse;
}

th{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; 
    padding: 30px 0;
}
td{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.today{
    /* width: 18px;
    height: 18px;
    background: #FE8E05; */

    /* border-radius: 100%; */
    color: #FE8E05;
}

.events{
    margin-top: 10px;
}
.events__title{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 30px;

    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.case__list{
    display: flex;
    flex-direction: column;
}

.case{
    width: 95%;
    height: 35px;
    border: 1px solid #FE8E05;
    border-radius: 30px;

    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.case__date{
    padding: 20px;
}
/* *** list-lectures *** */
.list-lectures{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.btn-lecture{
    width: 100%;
    height: 77px;
    background: #F38536;

    margin-bottom: 20px;
    border: none;
    border-radius: 10px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
}

.btn-help{
    width: 100%;
    height: 80px;

    background: gray;
    border: 1px solid #F38536;
    border-radius: 22px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;

    cursor: pointer;
}

/* ***Prices *** */

.prices{
    width: 100%;
    padding: 20px 0 50px 0;
}

.prices::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #BCBCBC;

    margin-bottom: 45px;
}

.price__item{
    display: flex;
    justify-content: space-between;
}
.price__item--img{
    width: 406px;
    height: 269px;
}

.btn-pay{
    width: 486px;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #F38536;
    border: none;
    border-radius: 5px;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;

    cursor: pointer;
    color: #fff;

    margin: 45px auto;
}

/* *** Main *** */
.slogan{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 30px;

    margin: 15px 0 50px 0;
}

.text{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.forWhom{
    width: 700px;
    margin: 20px auto;
}

.btn--for{
    width: 100%;
    height: 60px;

    background: #363636;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 44px;

    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.ul--for{
    width: 500px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.for__item{
    margin-bottom: 50px;
}

.price__item{
    display: flex;
    justify-content: space-between;
}

.price__item--block{
    max-width: 406px;
    width: 100%;
    height: 269px;
    border-radius: 23px;

    position: relative;
}
.price__item--inner{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.price__item--inner h5{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #fff;  

    text-transform: uppercase;

    @media(max-width: 1090px){
        font-size: 28px;
    }
}

.price__item--inner div{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #F38536;
    text-align: center;
}

.price__item--img{
    width: 100%;
    height: 269px;
    border-radius: 23px;
}

.overlay{
    width: 100%;
    /* height: 269px; */
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    border-radius: 23px;
}

.btn-pay{
    max-width: 486px ;
    width: 100%;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #F38536;
    border: none;
    border-radius: 5px;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;

    cursor: pointer;
    color: #fff;

    margin: 45px auto;
}

/* *** Links pages *** */

.links__pages{
    width: 1000px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.btn--rate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--page{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363636;
}