{% extends 'base.html' %}

{% block content %}

{% load static %}
<div>

        <!-- Header -->
        <header class="header">
            {% block header %}{% endblock %}
        </header>

        <!-- Intro -->
        <div class="intro">
            <div class="intro__wrapper">
                <img src=" {% static './img/intro.png' %} " alt="" class="intro-img">
                <div class="intro__wrapper--text">
                    <h4>Женский клуб</h4>
                    <p>by love and feel</p>
                </div>

            </div>
            

            <div class="intro__info">
                <ul class="intro__info--list">
                    <li class="list__item">формат: закрытый ONLINE-клуб</li>
                    <li class="list__item">доступ к клубу: от 3 месяцев</li>
                    <li class="list__item"> женское комьюнитри и поддержка</li>
                </ul>
            </div>
        </div>

        <div class="schedule-calendar" id="lectures">
            <div class="schedule">
                <p class="schedule__title"> Посмотреть расписание</p>

                <div class="list__months">
                    <div class="month" data-month="1">
                        <p class="month__name"></p>
                        <div class="year"></div>
                    </div>
                    <div class="month month-active" data-month="2">
                        <p class="month__name"></p>
                        <div class="year year-active">2023</div>
                    </div>
                    <div class="month" data-month="3">
                        <p class="month__name"></p>
                        <div class="year">2023</div>
                    </div>
                    <div class="month" data-month="4">
                        <p class="month__name"></p>
                        <div class="year">2023</div>
                    </div>
                </div>

                <div class="list-lectures">
                    <a href="https://youtu.be/nu1wqpB9ZRo" target="_blank" class="btn-lecture">Смотреть лекцию</a>
                    <a href="https://youtu.be/iOTjekSAEts" target="_blank" class="btn-lecture"> Смотреть лекцию </a>
                    <a href="https://www.youtube.com/watch?v=KFnxRvOyDRE" target="_blank" class="btn-lecture"> Смотреть лекцию </a>
                    <a href="https://t.me/+OxDBE6dXXvk0ZmEy" target="_blank" class="btn-help">Чат клуба</a>
                    <a href="https://t.me/+OxDBE6dXXvk0ZmEy" target="_blank" class="btn-help">Поддержка</a>
                </div>
            </div>

            <div class="calendar">
                <div class="calendar__wrapper">
                    <h4 class="calendar__month--name"></h4>
                    <p class="calendar__year"></p>
                    <div class="calendar__days" id="calendarDays"></div>

                    <div class="events">
                        <h3 class="events__title">Ближайшие события</h3>

                        <div class="case__list" id="eventList">
                          
                                    <div class="case">
                                            <div class="case__date"></div>    
                                            <div class="case__time"></div>   
                                            <div class="case__text"></div>
                                    </div>
                             
                            <div class="case">   
                                <div class="case__text">Занятий нет</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="prices" id="tariffs">
            
            <div class="price__item">  
                <div class="price__inner">
                    <div class="price__item--block">
                        <img src=" {% static './img/rate2.png' %} " alt="" class="price__item--img">
                        <div class="price__item--inner">
                            <h5>Тариф standart</h5>
                            <div>55 000₽</div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="tariff__description">
                        <ul class="ul__description">
                            <li >
                                <img src="{% static './img/check-mark.png' %}" />
                                доступ ко всем материалам на 6 месяцев </li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" /> 
                                участие во всех эфирах, лекциях, ивентах, марафонах и войс-чатах с экспертами</li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                первые места на все сторонние мероприятия вне рамок ЖК</li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                постоянный взаимообмен и поддержка в сильном и невероятном комьюнити женщин </li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                чатик ЖК + куратор, который будет отвечать на все вопросы в чате
                            </li>
                        </ul>
                    </div>

                    <a href="{% url 'payment' %}?amount=55 000" target="_blank" class="btn-pay">Купить</a>
                </div>
            
                <div class="price__inner">
                    <div class="price__item--block">
                        <img src=" {% static './img/rate1.png' %} " alt="" class="price__item--img">
                        <div class="price__item--inner">
                            <h5>Апргрейд до VIP</h5>
                            <div>100 000₽</div>
                        </div>
                        
                        <div class="overlay"></div>
                    </div>

                    <div class="tariff__description">
                        <ul class="ul__description">
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                доступ к материалам с 6 месяцев продлевается на целый год 🤍</li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                + в подарок зарядка «для раскрытия женственности»
                            </li>
                        </ul>
                    </div>

                    <a href="{% url 'payment' %}?amount=100 000" target="_blank" class="btn-pay">Купить</a>
                </div>

                <div class="price__inner">
                    <div class="price__item--block">
                        <img src=" {% static './img/rate3.png' %} " alt="" class="price__item--img">
                        <div class="price__item--inner">
                            <h5>тариф VIP</h5>
                            <div>155 000₽</div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="tariff__description">
                        <ul class="ul__description">
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                всё, что включено в тариф STANDART, но доступ к материалам на год </li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                групповые мастермаинды онлайн и в живую с основателем клуба </li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                женские туры и путешествия по России и зарубеж  </li>
                            <li>
                                <img src="{% static './img/check-mark.png' %}" />
                                + живые мероприятия и встречи по городам
                            </li>
                        </ul>
                        
                    </div>

                    <a href="{% url 'payment' %}?amount=155 000" target="_blank" class="btn-pay">Купить</a>
                </div>
                
            </div>
        </div>
</div>
{% endblock %}
