<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    {% load static %}

    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="auth"> 
            <div class="auth__container">
                <h3>Регистрация</h3>
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <p class="success">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'register' %}" class="profile__form">
            {% csrf_token %}
            
            <label for="id_username">Логин:</label>
            {{ form.username }}
              
            <label for="id_password1">Пароль:</label>
            {{ form.password1 }}
            
            <label for="id_password2">Повторите пароль:</label>
            {{ form.password2 }}
            <button type="submit" class="btn--user">Зарегистрироваться</button>
        </form>
            </div>
        </div>
    </div>

    
</body>
</html>
