{% extends 'base.html' %}

{% block content %}

<div class="schedule__container">
	{% if user.is_superuser %}
    <div class="add__schedule">

        <h3 id="add">Добавить лекцию</h3>
  
        <form method="post" action="{% url 'show_lectures' %}" class="schedule__form">
          {% csrf_token %}
          <input type="text" placeholder="Название лекции" name="lecture_name" class="lecture--input" />
          <input type="" placeholder="Ссылка на лекцию" name="link" class="lecture--input"/>
         
		  <select name="schedule" class="lecture--select">
			{% for subject in unique_subjects %}
				<option value="{{ subject.subject }}">{{ subject.subject }}</option>
			{% endfor %}
		</select>
        
          <span>{{error}}</span>
          <button type="submit" class="btn--subject">Добавить</button>
      </form>
    </div>

    
    <div class="current__schedule">
        <h3>Лекции</h3>
        <div class="lecture__table">
            <div class="schedule__table--title">
                <div class="lecture--name">Название лекции</div>
                <div class="lecture--name">Ссылка</div>
                <div class="lecture--name">Категория</div>
            </div>
        </div>

        {% for el in lecture %}
            <div class="schedule__table--wrapper">
                
                <div class="lecture--name">{{el.lecture_name}}</div>
                <a href="{{el.link}}" target="_blank" class="lecture--name">{{el.link}}</a>
                <div class="lecture--name">{{el.schedule}}</div>                  
            </div>
            {% endfor %}
    </div>
    {% else  %}
        <div class="current__schedule" style="width: 100%;">
            <h3>Лекции</h3>
            <div class="lecture__table">
                <div class="schedule__table--title">
                    <div class="lecture--name">Название лекции</div>
                    <div class="lecture--name">Ссылка</div>
                    <div class="lecture--name">Категория</div>
                </div>
            </div>

            {% for el in lecture %}
                <div class="schedule__table--wrapper">
                    
                    <div class="lecture--name">{{el.lecture_name}}</div>
                    <a href="{{el.link}}" target="_blank" class="lecture--name">{{el.link}}</a>
                    <div class="lecture--name">{{el.schedule}}</div>                  
                </div>
                {% endfor %}
        </div>
    {% endif %}



</div>

{% endblock %}