<!-- users/manage_schedule.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Расписание занятий</h2>
  
  <form method="post" action="{% url 'add_schedule' %}">
    {% csrf_token %}
    <input type="date" placeholder="Введите дату" name="date"/>
    <input type="time" placeholder="Введите время" name="time"/>
    <input placeholder="Введите название предмета" name="subject"/>

    <button type="submit">Добавить</button>
</form>
  
  <h3>Текущее расписание</h3>
  <ul>
    {% for el in schedule %}
      <div>
        {{el.date}}
        {{el.subject}}
      </div>
     
    {% endfor %}
  </ul>
{% endblock %}
