{% extends 'base.html' %}

{% block content %}

{% load static %}

<h2 class="profile__area">Личный кабинет {{ user.username }}</h2>

<div class="actions"> 
    <a href="{% url 'users/manage_schedule'% }">Добавить расписание </a>
    <button type="submit">Зарегистрировать пользователя</button>
</div>

    {% comment %} <h2>Регистрация пользователя администратором</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрировать пользователя</button>
        </form> {% endcomment %}
{% endblock %}