{% load static %}
{% if user.is_authenticated %}
	<div class="header__container">
		<nav class="header__nav">
			<a href="{% url 'index' %}" class="nav__link">Главная</a>
			<a href="{% url 'show_lectures' %}" class="nav__link">Лекции</a>
			<a href="" class="nav__link">Тарифы</a>
			<a href="{% url 'manage_schedule' %}" class="nav__link">Расписание</a>
			<a href="" class="nav__link">Поддержка</a>
			<a href="{% url 'about' %}" class="nav__link">О клубе</a>
			{% if user.is_superuser %}
				<a href="{% url 'profile' %}" class="nav__link">Профиль</a>
			{% endif %}
		</nav>
	
		<div class="burger">
			<img src="{% static './img/menu.png' %}" width="35px" />
		</div>
	
		<form method="post" action="{% url 'logout' %}">
			{% csrf_token %}
			<button type="submit" class="btn--logout">
				<span> Выход </span>
				<img src="{% static './img/log-out.png' %}" width="30px"  />
			</button>
		</form>
		{% else %}
			<a href="{% url 'login' %}" class="form__auth" > Вход </a> 

	</div>
	
	{% endif %}