{% load static %}
	<div class="header__container">
		<nav class="header__nav">
			<a href="{% url 'index' %}" class="nav__link">Главная</a>
			{% if user.is_authenticated %}
				<a href="{% url 'show_lectures' %}" class="nav__link">Лекции</a>
				<a href="{% url 'index' %}#tariffs" class="nav__link">Тарифы</a>
			{% else %}
				<a href="{% url 'index' %}#tariffs" class="nav__link">Лекции</a>
				<a href="{% url 'index' %}#tariffs" class="nav__link">Тарифы</a>
			{% endif%}
			{% if user.is_authenticated %}
				<a href="{% url 'manage_schedule' %}" class="nav__link">Расписание</a>
			{% else %}
				<a href="{% url 'index' %}#tariffs" class="nav__link">Расписание</a>
			{% endif %}
			<a href="https://t.me/+A1JznorKyL9jNTRi" target="_blank" class="nav__link">Поддержка</a>
			<a href="{% url 'about' %}" class="nav__link">О клубе</a>
			
		</nav>
	
		<div class="burger">
			<img src="{% static './img/menu.png' %}" width="35px" />
		</div>
		{% if user.is_authenticated %}
			<form method="post" action="{% url 'logout' %}">
				{% csrf_token %}
				<button type="submit" class="btn--logout">
					<span> Выход </span>
					<img src="{% static './img/log-out.png' %}" width="30px"  />
				</button>
			</form>
		{% else %}
			<a href="{% url 'login' %}" class="form__auth" > Вход </a> 
			<a href="{% url 'register' %}" class="form__auth" > Регистрация </a>
		{% endif %}

	</div>
	