*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #D2D2D2;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.container{
    max-width: 100%;
    width: 1274px;
    margin: 0 auto;
}

/* *** Header *** */
.header{
    padding: 33px 22px;
    display: flex;
}

.header__nav{
    width: 100%;
    display: flex;
}
.nav__link{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #363636;

    margin-right: 50px;
}

/* *** Auth *** */



.auth{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth__title{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 20px;
}

.input__auth{
    margin: 10px 0;
}

.input__auth label{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 7px;
}

.input__auth input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;

    border-radius: 5px;
    border: none;

    outline: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.btn--auth{
    width: 100%;
    padding: 8px;

    background: #F38536;
    color: #fff;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: .3s linear;

    margin-top: 10px;
}

.btn--auth:hover{
    background: #cf7b3e;
}

.form__auth{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #363636;
}

.btn--logout{
    width: 120px;
    height: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: #F38536;
    color: #fff;
    border: none;

    cursor: pointer;
    transition: .3s linear;
}
.btn--logout:hover{
    background: #cf7b3e;
}

/* *** Intro *** */

.intro-img{
    width: 100%;
    height: 345px;
}

.intro__info{
    margin: 53px 0 40px 35px;
}

.intro__info::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #BCBCBC;

    margin-top: 45px;
}

.intro__info--list{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.list__item{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #363636;
}

/* Schedule and calendar */

.schedule-calendar{
    width: 1070px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.schedule, 
.calendar{
    width: 50%;
    margin: 0 35px;
}

.schedule__title{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #393939;
    margin-bottom: 25px;
}

.list__months{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 90px;

    border: 1px solid #393939;
    border-radius: 5px;

    cursor: pointer;
}
.month__name{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
}
.year{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 40px;

    color: #F38536;
}

.month-active{
    background: #F38536;
    color: #fff;
}
.year-active{
    color: #fff;
}

.calendar__wrapper{
    width: 441px;
    height: 651px;
    background: #393939;
    border-radius: 5px;
}

.calendar__month--name{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 30px;

    text-transform: uppercase;
    color: #fff;

    text-align: center;

    padding: 20px 0 10px 0;
}

.calendar__year{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 40px;

    color: #FE8E05;
    text-align: center;
}

.calendar__table{
    width: 100%;
    border-collapse: collapse;
}

th{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff; 
    padding: 30px 0;
}

td{
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 10px 0;

    cursor: pointer;

    transition: .3s linear;
}

td:hover{
    color: #FE8E05;
}
.today{
    color: #FE8E05;
}

.events{
    margin-top: 10px;
}
.events__title{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 30px;

    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.case__list{
    display: flex;
    flex-direction: column;
}


.case{
    width: 95%;
    height: 35px;
    border: 1px solid #FE8E05;
    border-radius: 30px;

    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;

    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 0 20px;
}

.case__date,
.case__time, 
.case__date{
    margin: 0 5px;
}

.selected-date{
    color: red;
}

/* *** list-lectures *** */
.list-lectures{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.btn-lecture{
    width: 100%;
    height: 77px;
    background: #F38536;

    margin-bottom: 20px;
    border: none;
    border-radius: 10px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
}

.btn-help{
    width: 100%;
    height: 80px;

    background: gray;
    border: 1px solid #F38536;
    border-radius: 22px;

    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;

    cursor: pointer;
}

/* ***Prices *** */

.prices{
    width: 100%;
    padding: 20px 0 50px 0;
}

.prices::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #BCBCBC;

    margin-bottom: 45px;
}

.price__item{
    display: flex;
    justify-content: space-between;
}
.price__item--img{
    width: 406px;
    height: 269px;
}

.btn-pay{
    width: 486px;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #F38536;
    border: none;
    border-radius: 5px;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;

    cursor: pointer;
    color: #fff;

    margin: 45px auto;
}

/* *** Main *** */
.slogan{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 30px;

    margin: 15px 0 50px 0;
}

.text{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.forWhom{
    width: 700px;
    margin: 20px auto;
}

.btn--for{
    width: 100%;
    height: 60px;

    background: #363636;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 44px;

    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.ul--for{
    width: 500px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.for__item{
    margin-bottom: 50px;
}

/* *** Links pages *** */

.links__pages{
    width: 1000px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.btn--rate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--page{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #363636;
}

/* *** Profile *** */

.profile__area{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 26px;

    margin-bottom: 50px;
}

/* *** Date *** */

.date__input,
.date__time,
.date__subject{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0 5px;

    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;

    border-radius: 5px;
}
.date__input{
    margin-right: 8px;
}
.date__subject{
    width: 250px;
}

.btn--subject{
    width: 100%;
    height: 30px;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;

    background: #F38536;
    color: #fff;

    border-radius: 5px;
    border: none;

    cursor: pointer;
    transition: .3s linear;
}

.btn--subject:hover{
    background: #cf7b3e;
}

/* *** Schedule page *** */

.schedule__container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}

.add__schedule{
    width: 20%;
}

.schedule__form{
    margin-top: 20px;
}

.current__schedule{
    width: 75%;
    margin-right: 10px;
}

.schedule__table{
    width: 600px;
    margin-top: 50px;
}

.schedule--name{
    width: 33.33333%;
    padding: 10px;
}

.schedule__table--title{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    text-align: center;
}

.schedule__table--wrapper{
    display: flex;
    text-align: center;
}
