<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	{% load static %}
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&family=Cormorant+SC:wght@500&family=Mulish&display=swap" rel="stylesheet">

	<title>Женский клуб</title>
</head>
<body>
	<header class="header">
		{% include 'includes/header.html' %}
	</header>
	<div class="container">
		{% block content %}

		{% endblock %}
	</div>

	<script src=" {% static './js/script.js' %}"></script>
</body>
</html>